body{
justify-content: center;
display: flex;
}

.inputs{
display: flex;
justify-content: center;
flex-direction: column;
margin: auto;
width: 50%;
border: 3px solid green;
padding: 10px;
}

.buttons{
    display: flex;
justify-content: center;
flex-direction: column;
margin: auto;
width: 50%;
border: 3px solid green;
padding: 10px;
}