body{
    font-weight: Arial, Helvetica, sans-serif;
    margin: 0px;
    overflow-y: hidden;
    overflow-x: hidden;
}

.mainPage{
    background:  linear-gradient(90deg, #0bd115 0%, #333035 80%);
    height: 1000px;
}

.mainContainer{
    padding: 10vh 10vh;
    display: Grid;
    grid-template-columns: 25vh 25vh 25vh 25vh 25vh 25vh 25vh;
    grid-template-rows: 25vh 25vh 25vh 25vh 25vh 25vh 25vh;
    gap: 5vh;
    justify-content: center;
}

.mainContainer a{
    background-color: white;
    border-radius: .625rem;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
