

body{
    font-weight: Arial, Helvetica, sans-serif;
    margin: 0px;
    overflow-y: hidden;
    overflow-x: hidden;
}

.mainPage{
    background:  linear-gradient(90deg, #0bd115 0%, #333035 80%);
    height: 1000px;
}

